body {
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 527px 545px 587px;
  gap: 24px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px;
}

.greenBorder {
  border: 2px solid rgb(23, 157, 46);
}
.redBorder {
  border: 2px solid rgb(240, 46, 44);
}
.blueBorder {
  border: 2px solid rgb(1, 119, 184);
}
.yellowBorder {
  border: 2px solid rgb(245, 175, 35);
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 24px;
}
.card-image {
  display: block;
  width: 94px;
  height: 100px;
}
.heading {
  color: rgb(24, 24, 51);
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  padding-bottom: 24px;
  white-space: nowrap;
}
.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-list-element::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  margin: 0 10px;
}
.card-list-element {
  font-size: 24px;
  line-height: 150%;
  text-align: left;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
}

.card-list-element:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.link-container {
  margin-top: auto;
  align-self: flex-end;
}

.card-link-more {
  color: rgb(45, 45, 45);
  font-size: 24px;
  line-height: 150%;
  text-decoration-line: underline;
  display: block;
  text-align: left;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mainContent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .mainContent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 15px;
  }
  .heading {
    font-size: 24px;
  }
  .card-list-element {
    font-size: 18px;
  }
  .card {
    padding: 12px;
  }
  .card-link-more {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .heading {
    font-size: 18px;
  }
  .card-list-element {
    font-size: 16px;
  }
  .card {
    padding: 12px;
  }
  .card-image {
    width: 64px;
    height: 70px;
  }
  .card-link-more {
    font-size: 12px;
  }
}
